.App{
  text-align: center;
  margin-top: 100px;
}
#calculBox{
  width: 200px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button{
  margin: 10px;
  width: 40px;
}

#colorBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

#blueBox{
  width: 100px;
  height: 50px;
  background-color: blue;
  margin: 10px;
}
#redBox{
  width: 100px;
  height: 50px;
  background-color: red;
  margin: 10px;
}
#purpleBox{
  width: 100px;
  height: 50px;
  background-color: purple;
  margin: 10px;
}

#recap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav{
  width: 11%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link{
  color : black;
  font-weight: bold;
  text-decoration: none;
}
